[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fiobank = "*"
llconfig = "*"
aiohttp = "*"
bs4 = "*"
lxml = "*"
aiogram = "*"
sentry-sdk = "*"
aiocron = "*"
motor = "*"
emoji = "*"
typing_extensions = "*"  # because of https://github.com/aio-libs/aiohttp/issues/5107

[requires]
python_version = "3.8"
