[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fiobank = "*"
llconfig = "*"
aiohttp = "~=3.13"  # https://stackoverflow.com/a/77388956
beautifulsoup4 = "*"
lxml = "*"
aiogram = "<3.0.0"
sentry-sdk = "*"
aiocron = "*"
motor = "*"
emoji = "*"

[requires]
python_version = "3"
